primary-color = #4b6ea8
secondary-color = #ffffff
primary-border-color = #d6d6d6
events-background = #ececec

container-height = 720px
container-padding = 0 10px
container-width = 600px

display-hours = 12

event-left-border = primary-color solid 4px
event-location-color = #797979

time-background = transparent

time-minor-color = #a7a7a7
time-major-color = #686868

time-tick-height = (container-height / display-hours / 2)

overflow-hidden()
  overflow hidden
  text-overflow ellipsis
  white-space nowrap

html
  box-sizing border-box
  position relative
  font-size 62.5%

body
  position relative

*, *:before, *:after
  box-sizing inherit

.calendar-container
  border 1px dashed rgba(0, 0, 0, 0.2)
  display block
  margin 0 auto
  position relative

.day-view
  display block
  margin 0 auto
  padding 20px
  position relative
  white-space nowrap
  text-align center

  .calendar-time
    background time-background
    display inline-block
    height container-height
    position relative
    vertical-align top
    padding 0 10px

    .time-tick
      height time-tick-height
      line-height time-tick-height
      text-align right

      .major
        color time-major-color
        font-size 2rem
        margin-right 4px

      .minor
        color time-minor-color
        font-size 1.5rem

  .calendar-events
    margin-top (time-tick-height / 2)
    background events-background
    border-left 1px solid primary-border-color
    box-sizing content-box
    display inline-block
    height container-height
    overflow hidden
    padding container-padding
    position relative
    width container-width

    .event
      background secondary-color
      border-left event-left-border
      border-radius 2px
      box-sizing border-box
      height 120px
      overflow hidden
      position relative
      width 100%

      .name
        color primary-color
        font-size 2rem
        margin-bottom 3px
        overflow-hidden()

      .location
        color event-location-color
        font-size 1.5rem
        overflow-hidden()

    .event-inner
      border-bottom 1px solid primary-border-color
      border-right 1px solid primary-border-color
      border-top 1px solid primary-border-color
      height 100%
      width 100%
      padding 5px 10px
      text-align left
