doctype
html.no-js
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title FB Calendar
        meta(name='description', content='fb calendar')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='icon' type='image/x-icon' href='img/favicon.ico')
        link(rel='stylesheet', href='css/style.css')
    body
        <!--[if lt IE 8]>
        p.browsehappy
            | You are using an <strong>outdated</strong> browser.
            | Please <a href='http://browsehappy.com/'>upgrade your browser</a>
            | to improve your experience.
        <![endif]-->

        .calendar-container
            .day-view
                .calendar-time
                    .time-tick
                        .major 9:00
                        .minor AM
                    .time-tick
                        .minor 9:30
                    .time-tick
                        .major 10:00
                        .minor AM
                    .time-tick
                        .minor 10:30
                    .time-tick
                        .major 11:00
                        .minor AM
                    .time-tick
                        .minor 11:30
                    .time-tick
                        .major 12:00
                        .minor PM
                    .time-tick
                        .minor 12:30
                    .time-tick
                        .major 13:00
                        .minor PM
                    .time-tick
                        .minor 13:30
                    .time-tick
                        .major 14:00
                        .minor PM
                    .time-tick
                        .minor 14:30
                    .time-tick
                        .major 15:00
                        .minor PM
                    .time-tick
                        .minor 15:30
                    .time-tick
                        .major 16:00
                        .minor PM
                    .time-tick
                        .minor 16:30
                    .time-tick
                        .major 17:00
                        .minor PM
                    .time-tick
                        .minor 17:30
                    .time-tick
                        .major 18:00
                        .minor PM
                    .time-tick
                        .minor 18:30
                    .time-tick
                        .major 19:00
                        .minor PM
                    .time-tick
                        .minor 19:30
                    .time-tick
                        .major 20:00
                        .minor PM
                    .time-tick
                        .minor 20:30
                    .time-tick
                        .major 21:00
                        .minor PM
                .calendar-events
                    .event
                        .event-inner
                            .event-header
                                .name Sample Item
                                .location Sample Location
                            .event-content
                    .event
                        .event-inner
                            .event-header
                                .name Sample Item
                                .location Sample Location
                            .event-content

        script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
        script(src='js/main.js')
