doctype
html.no-js
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title FB Calendar
        meta(name='description', content='fb calendar')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='icon' type='image/x-icon' href='img/favicon.ico')
        link(rel='stylesheet', href='css/style.css')
    body
        <!--[if lt IE 8]>
        p.browsehappy
            | You are using an <strong>outdated</strong> browser.
            | Please <a href='http://browsehappy.com/'>upgrade your browser</a>
            | to improve your experience.
        <![endif]-->

        .calendar-container
            .day-view
                .calendar-time
                .calendar-events
                    .inner

        script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
        script(src='js/main.js')
