doctype
html.no-js
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title FB Calendar
        meta(name='description', content='fb calendar')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='icon' type='image/x-icon' href='img/favicon.ico')
        link(rel='stylesheet', href='css/style.css')
    body
        <!--[if lt IE 8]>
        p.browsehappy
            | You are using an <strong>outdated</strong> browser.
            | Please <a href='http://browsehappy.com/'>upgrade your browser</a>
            | to improve your experience.
        <![endif]-->

        .calendar-container
            .day-view
                .calendar-time
                    .time-tick
                        span.major 9:00
                        span.minor AM
                    .time-tick
                        span.minor 9:30
                    .time-tick
                        span.major 10:00
                        span.minor AM
                    .time-tick
                        span.minor 10:30
                    .time-tick
                        span.major 11:00
                        span.minor AM
                    .time-tick
                        span.minor 11:30
                    .time-tick
                        span.major 12:00
                        span.minor PM
                    .time-tick
                        span.minor 12:30
                    .time-tick
                        span.major 13:00
                        span.minor PM
                    .time-tick
                        span.minor 13:30
                    .time-tick
                        span.major 14:00
                        span.minor PM
                    .time-tick
                        span.minor 14:30
                    .time-tick
                        span.major 15:00
                        span.minor PM
                    .time-tick
                        span.minor 15:30
                    .time-tick
                        span.major 16:00
                        span.minor PM
                    .time-tick
                        span.minor 16:30
                    .time-tick
                        span.major 17:00
                        span.minor PM
                    .time-tick
                        span.minor 17:30
                    .time-tick
                        span.major 18:00
                        span.minor PM
                    .time-tick
                        span.minor 18:30
                    .time-tick
                        span.major 19:00
                        span.minor PM
                    .time-tick
                        span.minor 19:30
                    .time-tick
                        span.major 20:00
                        span.minor PM
                    .time-tick
                        span.minor 20:30
                    .time-tick
                        span.major 21:00
                        span.minor PM
                .calendar-events
                    .event
                        .event-inner
                            .event-header(title='Sample Item at Sample Location')
                                .name Sample Item
                                .location Sample Location
                            .event-content
                    .event
                        .event-inner
                            .event-header(title='Sample Item at Sample Location')
                                .name Sample Item
                                .location Sample Location
                            .event-content

        script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
        script(src='js/main.js')
